@import "../../../../assets/styles/mixins.scss";

.sliderNavigation {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sliderCard {
	@include fluid(margin-bottom, 40px, 60px);

	background: #2f3ced;
	border-radius: 24px;
	background-size: cover;
}
