@import "../../../assets/styles/mixins.scss";

.contentContainer {
	display: flex;
	flex-direction: column;
	// justify-content: space-around;
	height: 100vh;
	@include fluid(margin-bottom, 20px, 30px);
	@include fluid(margin-right, 20px, 30px);
	@include fluid(margin-top, 20px, 30px);
	@include fluid(margin-left, 20px, 30px);

	.contentTitle {
		h2 {
			color: #11142d;
			@include fluid(font-size, 24px, 32px);
			font-weight: 500;
		}
		h1 {
			color: #11142d;
			@include fluid(font-size, 32px, 48px);
			font-weight: 700;
		}
	}
}
