@import "../../assets/styles/mixins.scss";

.sidebarContaner {
	@include fluid(margin-bottom, 20px, 30px);
	@include fluid(margin-right, 20px, 30px);
	@include fluid(margin-top, 20px, 30px);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 95vh;

	// Logo
	.sidebarLogo {
		@include fluid(font-size, 42px, 52px);
		@include fluid(margin-left, 30px, 50px);

		cursor: pointer;
		font-weight: 700;

		&:last-of-type:after {
			content: "." !important;
			color: #ff7c5d;
		}
	}

	// Navigation
	.sidebarNavigation {
		.activeNavigationItem {
			background: #2f3ced;

			.label {
				color: rgb(221, 221, 221) !important;
			}
		}
		.navigationItem {
			@include fluid(margin-bottom, 10px, 15px);
			@include fluid(padding-left, 15px, 30px);

			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 15px 20px;
			border-radius: 0px 12px 12px 0px;

			.image {
				@include fluid(margin-right, 10px, 20px);
				@include fluid(width, 20px, 30px);
				@include fluid(height, 20px, 30px);
			}
			.label {
				@include fluid(font-size, 16px, 24px);

				color: #808191;
				font-weight: 600;
				margin: 0;
			}

			&:hover {
				background: #b4b9ff;

				p {
					color: #fff;
				}
				transition: 0.5s all;
			}
		}
	}
}
